@page 
@{ ViewData["Title"] = "Главная"; }
<div class="face-box">
  <img src="~/img/page.png" />
  <h6>Сайт преподавателя математики ТК ВСГУТУ</h6>
  <h4>Пойдонова Валентина Владимировна</h4>
  <p>
      Мне очень приятно видеть Вас! <br />
      Желаю приятного и полезного проведения времени на страницах моего сайта!<br />
  </p>
  <div class="con">

    <div class="blocks">
        <div>
            <h5>Стаж работы</h5>
            <p>24 года</p>
        </div>
        <div>
            <h5>Ученые степени, образование</h5>
            <p>
            БГУ 1999 «Математика» , квал. «Учитель математики и информатики»
            </p>
            <p> 
            БГУ 2021 «Педагогическое образование» , квал. «Магистр»
            </p>
        </div>
        <div>
          <h5>Повышение квалификации, стажировки</h5>
          <p>
            MS.Excel. Расширенные возможности
          </p>
          <p>
            Электронно информационно-образовательная среда. Работа с порталом.
          </p>
          <p>
            Теоретические и методические основы
            профессионального образования
          </p>
          <p>
            Менеджмент и маркетинг
            образовательных услуг и современные технологии обучения
          </p>
        </div>
        <div>
            <h5>Награды</h5>
            <p>
                Почетная грамота (ВСГУТУ)
            </p>
            <p>
                Почетная грамота (ВСГУТУ)
            </p>
        </div>
    </div>
  </div>
<link rel="stylesheet" href="~/css/index.css" />
