@page
@model jhyf.Pages.Lectures.DeleteModel

@{
    ViewData["Title"] = "Удаление лекции";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<form method="post">
    <h1>Удаление лекции</h1>
    <h3>Вы уверены, что хотите удалить эту запись?</h3>
    <input type="hidden" asp-for="AddLectures.Id" />
    <button type="submit" id="delete">Удалить</button>
    <a asp-page="./Index">Отмена</a>
</form>
<link rel="stylesheet" href="~/css/register.css">