@page
@model jhyf.Pages.Homeworks.CreateModel

@{
    ViewData["Title"] = "Добавление домашнего задания";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    <h1>Добавление домашнего задания</h1>
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input asp-for="AddHomework.Name" placeholder="Тема"/>
        <span asp-validation-for="AddHomework.Name"></span>
    </div>
    <div>
        <input asp-for="AddHomework.Opisanie" placeholder="Задание"/>
        <span asp-validation-for="AddHomework.Opisanie" class="text-danger"></span>
    </div>
    <div>
        <input asp-for="AddHomework.Zadanie" placeholder="Ссылка"/>
        <span asp-validation-for="AddHomework.Zadanie" class="text-danger"></span>
    </div>
    <div>
        <button type="submit">Добавить</button>
        <a asp-page="Index">Отмена</a>
    </div>
</form>
<link rel="stylesheet" href="~/css/register.css">
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
