@page
@model jhyf.Pages.Homeworks.DeleteModel

@{
    ViewData["Title"] = "Удаление домашнего задания";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<form method="post">
    <h1>Удаление домашнего задания</h1>
    
    <h3>Вы уверены, что хотите удалить эту запись?</h3>
    <input type="hidden" asp-for="AddHomework.Id" />
    <button type="submit">Удалить</button>
    <a asp-page="./Index">Отмена</a>
</form>
<link rel="stylesheet" href="~/css/register.css">