@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --index: calc(1vh + 5vw);
  --back-color: linear-gradient(135deg, #f2f2f2 30%, white 70%);
  --general-color: #67bce9;
  --additional-color: #457e9c;
  --button-color: #00a5fe5d;
}
